<%= content_for :title, t('ish_rails_social.profiles.index') %>

<div class="well">
  <div class="row">
    <div class="col-md-2">
      <% unless @user.avatar.nil? %>
        <p><%= image_tag @user.avatar.url, class: 'img-thumbnail' %></p>
      <% else %>
        <p><%= image_tag 'placeholder.png', class: 'img-thumbnail' %></p>
      <% end %>
    </div>

    <div class="col-md-10">
      <h2><%= @user.name %></h2>
      <p><%= link_to @user.email, "mailto:#{@user.email}" %></p>

      <p>
        <%= simple_format(@user.description) %>
      </p>

      <p class="text-right">
        <%= link_to t('site.edit'), main_app.edit_user_registration_path, class: 'btn btn-link' %>
      </p>
    </div>
  </div>
</div>
